/* 全局样式表 */
html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
/* // body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
// 	margin:0;
// 	padding:0;
// }
// body{
// 	font-family: "微软雅黑",Arial;
// }
// ul,ol{
// 	list-style:none;
// }
// img{
// 	border: 0;
// }
// a{
// 	text-decoration: none;
// } */
